
body {
    font-family: 'Arial', sans-serif;
    background-color: #fde6e6; 
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #ff66b2; 
    padding: 20px 0;
    background-color: #fff;
    margin-bottom: 20px;
  }
  

  .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  

  .country-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .country-item {
    background-color: #ffe6e6; 
    border: 1px solid #ff99cc; 
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 400px; 
  }
  
  .country-name {
    font-weight: bold;
    color: #ff3399; 
  }
  
  .visit-button {
    background-color: #ff66b2; 
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .visit-button:hover {
    background-color: #ff3385; 
  }
  
  /* countries container */

  h2 {
    text-align: center;
    color: #ff66b2; 
    margin-top: 20px;
    width: 100%;
  }
  
  /* visited countries so that it looks diff from wishlist */
  .visited-countries {
    background-color: #ffd9e6; 
  }
  